$primary-color:#09357b;
$primary-color-opacity:rgba(9, 53, 123, 0.95);
$secondary-color:#bababa;
$dark-color:#212121;
$light-color:#ffffff;

$max-screen-size:1200px;
$border-color:rgba(34, 36, 38, .15);